@font-face {
    font-family: Product Sans;
    src: url(fonts/Product\ Sans\ Bold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans;
}

html,body{
    height: 100%;
    width: 100%;
    /*overflow-x: hidden; não rolar pra direita e nem pra esquerda*/
}

body::-webkit-scrollbar{ /*para barra de rolagem sair*/
    display: none;
}

#main{
    width: 100%;
    height: 100vh;
    background: orangered;
}

#logo{
    width: 10vw;
    height: 100%;
}

.nav-container{
    position: fixed; /*deixar menu fixo quando rolar pra baixo*/
    display: flex; /*deixar alinhado na horizontal*/
    align-items: center;
    justify-content: space-between;
    width: 100%; /*usar 100% da largura da tela*/
    height: 10vh;
    z-index: 99; /*forçar o conteúdo a sempre ficar na frente dos conteúdos*/
}

/*.nav-container img{
    width: 25px;
    height: 25px;
    object-fit: cover;
}*/

.nav-menu{
    display: flex;
    margin-right: 200px;
    gap: 40px;
}

.nav-container a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(8, 134, 218), rgb(154, 202, 230));
}

.hero h1{
    font-size: 15vw; /* 1/4 da tela, melhor pra responsividade*/
    color: white;
}

#invisalign{
    position: absolute; /*para a imagem de movimentar*/
    width: 40%; /*tamanho*/
    z-index: 2; /*vai passar por alguns elementos mais não todos*/
}

#laranja-cortada{
    position: absolute; /*da pra editar o local dela na tela*/
    top: 10%; /*mexendo na posição em relação ao topo e a esquerda da tela*/
    left: 32%;
    width: 15%;
    z-index: 2;
}

#laranja{
    position: absolute;
    width: 20%;
    z-index: 3; /*pra ficar atrás da fanta*/
    top: 55%;
    right: 30%;
}

#folha{
    position: absolute;
    width: 18%;
    top: 10%;
    left: 0%;
    transform: rotate(60deg); /*rodar a folha*/
}

#folha2{
    position: absolute;
    width: 12%;
    top: 70%;
    left: 80%;
    transform: rotate(-90deg);
}


#folha3{
    position: absolute;
    width: 20%;
    top: 10%;
    right: 0%;
}


/*Editando a segunda sessão*/

.two{
    display: flex;
    width: 100%;
    height: 100vh;
    background: #408fcf;
}

.left-side, .right-side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
}

.right-side h2{
    color: white;
    font-size: 5vw;
}

.right-side p{
    color: white;
    font-size: 1vw;
    width: 80%;
}

/*Editando terceira sessão*/

.three{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 5vh;
    background: linear-gradient(150deg, rgb(8, 134, 218), rgb(154, 202, 230));
}

.card{
    position: relative; /*só é definido pro absolute funcionar*/
    display: flex;
    align-items: center;
    background: white;
    width: 25vw;
    flex-direction: column;
    gap: 2vh;
    height: 70vh;
    margin-top: 10vh;
    border-radius: 20px;
}

.card p{
    margin-left: 10px;
    font-size: 2vw;
    color: black;
    font-family: Product Sans;
}

.card h3{
    font-size: 1.3vw;
    margin-top: 15px;
    border-radius: 50px;
    border: none;
    justify-content: center;
    background-color: rgb(92, 163, 204);
    color: white;
    padding: 1vw 2vw;
}

#pepsi{
    position: absolute;
    top: -15%;
    width: 75%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#cocacola{
    position: absolute;
    top: -15%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.lemon{
    position: absolute;
    top: -30%;
    left: 50%;
    width: 25vw;
    transform: translate(-50%, 0%);
}

footer{
    display: flex;
    justify-content: center;
    color: white;
    background: rgb(154, 202, 230);
    padding: 10px;
    
}